body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width:100%;
    height: 100vh;
    background-color: rgb(146, 146, 159);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-image: url('https://images.pexels.com/photos/4238524/pexels-photo-4238524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
}

.top{
    border: 2px dotted white;
    width: 30%;
    height: 20%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 10px;
    border-radius: 5px;
}

.bottom{
    /* border: 2px dotted black; */
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    border-left: 2px dotted white;
    width: 50%;
    height: 80%;
    margin: 8px;
    text-align: center;
    overflow-y:scroll;
    border-radius: 5px;
}


.bottom::-webkit-scrollbar-thumb{
    color: black;
}

input{
    background-color:rgb(146, 146, 159);
    width: 50%;
   outline: none;
    border: 2px hidden white;
    border-bottom: 2px dashed white;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
input:default{
    background-color:rgb(146, 146, 159);
    width: 50%;
   outline: none;
    border: 2px hidden white;
    border-bottom: 2px dashed white;
    text-align: center;
    margin-bottom: 5px;
}
input::placeholder{
    color: white;
}

.btn{
    width: 40%;
    height: 30px;
    margin-top: 10px;
    outline: none;
    background-color: rgb(103, 108, 108);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.elem{
    width: 90%;
    height: 10%;
    border: 2px dotted white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.btn2{
    width: 80px;
    height: 30px;
}
ol{
    width:90% ;
}

.list{
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-decoration:underline;
}

li{
    margin-left: 5px;
    list-style: none;
    color: white;
  
}

.delete{
    margin-right: 5px;
    height: 30px;
    background-color: rgb(103, 108, 108);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.delete:hover{
    background-color: rgb(81, 85, 85);
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
}

.btn:hover{
    background-color: rgb(81, 85, 85);
    transition: 0.5s;
    cursor: pointer;
    width: 200px;
}

h1{
    text-decoration: underline;
}

